html {
    /*overflow: hidden;*/
}

body {
    margin: 0;
    padding: 0;
    background: #8a8a8a;
}

.book-container {
    margin: 0rem 3rem;
    /*background: #8a8a8a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;*/
    height: 98rem;
    font-family: serif;
}

.book {
    /*width: 800px;
    height: 95%;*/
    position: relative;
    /*perspective: 2000px;*/
}

.page {
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    transform-origin: left;
    transition: transform 2s;
    background: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.page img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.page.flipped {
    transform: rotateY(-180deg);
}

.page.flipped.resetindex {
    z-index: 0 !important;
}

/* Z-index stacking for layering */
.page:nth-child(1) {
    z-index: 8;
}

.page:nth-child(2) {
    z-index: 7;
}

.page:nth-child(3) {
    z-index: 6;
}

.page:nth-child(4) {
    z-index: 5;
}

.page:nth-child(5) {
    z-index: 4;
}

.page:nth-child(6) {
    z-index: 3;
}

.page:nth-child(7) {
    z-index: 2;
}

.page:nth-child(8) {
    z-index: 1;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    padding: 0;
}

.button-container a {
    text-decoration: unset;
    text-transform: uppercase;
    text-shadow: .15rem .15rem 3px #ffffff;
    background: #000000;
    padding: 1rem 5rem;
    font-size: 5rem;
    font-weight: bold;
    color: #eb0f57;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #000000;
}

@media screen and (max-width: 500px) {

    .book-container {
        margin: 1rem 2rem;
        height: 100rem;
    }

}
