body {
    padding: 0;
    margin: 20rem 0 0;
    background-color: #8a8a8a;
    background-image: url(../img/background_lg.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}


a {
    width: 80%;
    margin: 5rem auto;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #000000;

    font-size: 7rem;
    text-decoration: unset;
    color: #eb0f57;
    text-align: center;
    text-transform: uppercase;
    text-shadow: .15rem .15rem 3px #ffc70e;
    font-weight: bold;
    border-bottom: .3rem solid #ffc70e;
}