body {
    padding: 0;
    margin: 0;
    background-color: #8a8a8a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/background_sm.jpg);
    background-repeat: repeat-y;
    background-size: contain;
}

.book {
    padding: 0 1rem;
}

.book .page {
    margin: 4rem 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
    overflow: hidden;
    border: .3rem solid #ffc70e;
}

.book .page img {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    padding: 0;
}

.button-container a {
    text-decoration: unset;
    text-transform: uppercase;
    text-shadow: .15rem .15rem 3px #ffc70e;
    background: #000000;
    padding: 1rem 5rem;
    font-size: 5rem;
    font-weight: bold;
    color: #eb0f57;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #000000;
    border-bottom: .3rem solid #ffc70e;
}
